/**
 * The first commented line is your dabblet’s title
 */
div#dtrans {   
	width: 75%;
	float: left;
	margin: 5px;
	padding: 1px;
	border-radius: 5px;	
	border: 1px solid black;
}

table{
	table-layout: fixed;
	width: 100%;
	
}
tr:nth-child(even) {
	background-color: #d1d1d1;	
}

td,th{
	width: 16.66%;
	align: center;
}

th{
	background-color: #fa5;
}
h3{
	position: relative;
	padding: 1px;
	margin: 1px;
	text-align: center;
	color: dark-grey;		
}
div#dgastos,div#dprestamos,div#dotros{
	position: relative;
	margin: 5px;	
	padding: 1px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #333355;
}

div#totales{
	width: 30%;
	float: left;
	margin: 5px;
	padding: 1px;
	border-radius: 5px;	
	border: 1px solid black;
}

div#rtable{
	float: right;
	right: 5px;
	width: 23%;
}

input {    
	padding:0%;
	width: 100%;
	border: 1px solid blanchedalmond; 
}
input[type=text]:focus {
    border: 1px solid #555;
    background: #ffc891;
}

input[class="grey number"]{
	background: #d1d1d1;
}

font{
	color: red;
}